alabaster==1.0.0
argparse-addons==0.12.0
asgiref==3.11.1
babel==2.17.0
bitstruct==8.21.0
breathe==4.36.0
cantools==39.4.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
crccheck==1.3.1
diskcache==5.6.3
Django==6.0.4
djangorestframework==3.17.1
docutils==0.21.2
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
myst-parser==4.0.1
packaging==24.2
Pygments==2.19.1
-e git+https://github.com/aibasel/pyperplan.git@a994c17940b06fbc73d7b8c67b65811877dd1059#egg=pyperplan
pyserial==3.5
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-can==4.4.2
pywin32==311
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.1.0
shiboken6==6.9.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-multiversion==0.2.4
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.5
textparser==0.24.0
typing_extensions==4.14.1
tzdata==2026.2
urllib3==2.3.0
wrapt==1.17.2
